<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4>Out Speciality</h4>
                    <p> Cricket Grounds</p>
                    <p> Football Ground</p>
                    <p> Basketball Court</p>
                    <p> Badminton Court</p>
                    <p> Golf Turf</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Navigate</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/bookturf">Book Turf</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact</h4>
                    <ul>
                        <li>Mr. Malhar Kauthale</li>
                        <li></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> admin@gmail.com</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> customercare@gmail.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> Pune, Maharashtra - India</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

