<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
{% block body%}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>TBS</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/userdashboard">User</a></li>
        <li><a href="/user_profile"><i class="fa fa-users" aria-hidden="true"></i> Profile</a></li>
        <li><a href="/book_turf"><i class='far fa-futbol'></i> Book Turf</a></li>
        <li><a href="/mybookings"><i class="fa fa-book" aria-hidden="true"></i> My Bookings</a></li>
        <li><a href="/post_feedback"><i class="fa-solid fa-comments-o"></i> Feedback</a></li>
        <li><a href="/logout"><i class="fa-solid fa-sign-out"></i> Logout</a></li>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4>Turf Booking System</h4>
        <p>Welcome User: {{request.user}}</p>
      </div>
      <div class="row">
        <div class="col-sm-6">

<div class="container profile">
        <div class="row">
            <div class="col-md-8">
                <div class="profile-tab">
                    <div class="tab-pane">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Booking#:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.id}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Booking Date:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.booking_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Customer:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.customer.user.get_full_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Turf:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.turf.turf_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>For Date:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.for_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>For Time:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.for_time}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Charges:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.charges}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Card#:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.card_no}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Card Holder:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.card_holder}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Bank Name:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{b.bank_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
